Bio==1.8.1
biopython==1.81
easydict==1.10
fair_esm==2.0.0
lmdb==1.4.1
matplotlib==3.10.7
numpy==1.25.2
optuna==4.5.0
pandas==2.3.3
peft==0.10.0
pytorch_lightning==1.8.3
PyYAML==6.0.2
PyYAML==6.0.3
Requests==2.32.5
scikit_learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
torch==2.8.0
TorchCRF==1.1.0
TorchCRF==1.1.0
torchmetrics==0.9.3
tqdm==4.67.1
transformers==4.28.0
umap_learn==0.5.9.post2
urllib3==2.5.0
wandb==0.12.10
